@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary: #40b5cb;
  --secondary: #c0df40;
}

body {
  background: var(--primary) !important;
  font-family: "Inter", sans-serif !important;
}

h1,
h2,
h3,
h4 {
  font-weight: 700 !important;
}

h5 {
  font-weight: 600;
}

.card-title {
  font-weight: 700;
}

.navbar {
  background: var(--secondary) !important;
}

.navbar-brand {
  font-weight: 600;
}

.img-fluid {
  width: 30rem;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
